body{ 
    padding: 0;
    margin: 0;
    height: 200vh;
    font-family: 'Raleway', sans-serif;
    
}

.title{
    font-family: 'Raleway', sans-serif;   
    margin: auto;
    font-size: 10vw;
}

header{
    background-color: rgb(27,69,113);
    height: 35vh;
    padding: 0;
    display: flex;
}

img{

    margin: auto;
    height: 30vh;
    width: auto;
}
nav{
    display: flex;
    background-color: #133152;
    padding: 10px;
    height: 20px;
}

a{
    margin: auto;
}



.navbtn{
    transition: 0.3s;
    border: none;
    border-radius: 25px;
    color: black;
    background-color:#2e73bd;
    width: 10vw;
    height: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    min-width: 60px;
    

}

.navbtn:hover{
    transition: 0.3s;
    width: 15vw;
    height: 35px;
    color: rgb(245, 146, 40);
    font-size:  23px;

}

.articleimg{

    height: 15vh;
    width: 15vh;
    border-radius: 15px;
}


.articlebtn {
    transition: 0.3s;
    border: none;
    margin: 20px;
    height: 40vh;
    width: 15vw;
    border-radius: 10px;
    font-size: 30px;
    margin: auto;
}


.articlebtn:hover {
    

    transition: 0.3s;
    height: 50vh;
    width: 18vw;
    padding-bottom: 60px;
}

div{

    padding-top: 30px;
}
h2{
    margin: auto;
}



